@using System.Data
@model DataSet
@{
    DataTable productGrp;
    DataTable dt;
}

<div class="BomRefDtls">
    <div class="closeMenu">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="col-sm-12 row BomRefHeader m-0">
        Product Groupwise Report

    </div>
    <div class="TenderDtlTable tableBlock tablePrctender">
        <table class="table tableLayout">
            <tr class="rowHeadings">
                @{
                    if (Model != null)
                    {
                        <th rowspan="2" class="rawMaterial">Raw Material</th>
                        productGrp = Model.Tables[0];
                        foreach (DataRow row in productGrp.Rows)
                        {
                            <th colspan="2" class=" revisionTD text-center">@row["GroupName"]</th>
                        }
                        <th rowspan="2" class="rawMaterial">Total Gr. Wt.</th>
                        <th rowspan="2" class="rawMaterial">Total Net Wt.</th>
                    }
                }
            </tr>
            <tr class="rowHeadings">
                @{
                    if (Model != null)
                    {
                        productGrp = Model.Tables[0];
                        foreach (DataRow row in productGrp.Rows)
                        {
                            <th class="tenderGrWt text-center">gross wt</th>
                            <th class="tenderNetWt text-center">net wt</th>
                        }
                    }
                }
            </tr>
            @{
                if (Model != null)
                {
                    dt = Model.Tables[1];
                    productGrp = Model.Tables[0];
                    foreach (DataRow row in dt.Rows)
                    {
                        <tr class="">
                            <td class="rawMaterial">@row["RawMaterialDesc"]</td>
                            @foreach (DataRow dataRow in productGrp.Rows)
                            {
                                string columnNameGrWt = dataRow["GroupName"] + "_GrWt_" + dataRow["ProductGroupId"];
                                string columnNameNtWt = dataRow["GroupName"] + "_NtWt_" + dataRow["ProductGroupId"];
                                <td class="tenderGrWt text-center">@row[columnNameGrWt]</td>
                                <td class="tenderNetWt text-center"> @row[columnNameNtWt]</td>
                            }

                            <td class="tenderGrWt">@row["Total Gross Wt"]</td>
                            <td class="tenderNetWt">@row["Total Net Wt"]</td>
                        </tr>
                    }


                }
            }
        </table>
    </div>
</div>
