@model Karamtara_Application.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid ">
    <div class="forgetPassDiv">
        @using (Html.BeginForm("ResetPassword", "ManagePassword", FormMethod.Post, new { @class = "form" }))
        {
        <div class="card-body loginBody passChangeForm">
            <div class="login text-center mb-5"> <h3 class="font-weight-bold">Reset Password</h3></div>
            <div>
                <div class="text-center font-weight-bold font-italic">@Model.Receiver</div>
            </div>
            <div class="form-group bmd-form-group is-filled">
                <label for="email" class="font-weight-bold bmd-label-static">New Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "New Reset Password", @id = "newpass", required = "required", @type = "password" })
                @Html.HiddenFor(x => x.Receiver)
            </div>
            <div class="form-group bmd-form-group is-filled">
                <label for="email" class="font-weight-bold bmd-label-static">Confirm Password</label>
                @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @id = "confpass", required = "required", @type = "password" })
            </div>
            <div class="form-group bmd-form-group is-filled">
                <label for="email" class="font-weight-bold bmd-label-static">Reset Password Code</label>
                @Html.TextBoxFor(m => m.ResetPasswordCode, new { @class = "form-control", placeholder = "Reset Password Code", @id = "resetpass", required = "required" })
            </div>
            @*<div class="form-group bmd-form-group is-filled">
                <input autocomplete="off" class="form-control" id="UserId" name="" required="required" type="Hidden" placeholder="User Id" value="@Model.UserId">
            </div>*@
            <div class="form-group bmd-form-group">
                <input id="UserId" type="Hidden" value="@Model.UserId">
                <span class="errorSpanMsg" id="errorMessageDisplay" style="display:none"></span>
            </div>
            <div class="form-group p-0 text-center mt-5">
                <button type="button" id="SubmitButton" onclick="resetPassword();" class="createBomBtn saveBtn"> Submit </button>
            </div>
        </div>

            <div class="modal fade" id="Successmodal" tabindex="1" role="dialog" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header modelHeader">
                            <span class="modal-title modalMsgTitle text-success" id="mHeader">Success</span>
                        </div>
                        <div class="modal-body">
                            <label id="mBody" class="lableMsg text-capitalize">Password changed Successfully</label>
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Index", "Login")" class="Bold submitBomBtn publishBtn" style="text-align:center;justify-content:center">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function resetPassword() {
        var UserId = $("#UserId").val();
        var Password = $("#newpass").val();
        var ConfirmPassword = $("#confpass").val();
        var ResetPassCode = $("#resetpass").val();
        
        if (Password.trim().length < 8) {
            $("#errorMessageDisplay").html('Password must containt minimum 8 characters')
            $("#errorMessageDisplay").attr('style', 'display:block');
            return;
        };

        if (Password != ConfirmPassword) {
            $("#errorMessageDisplay").html('Password and Confirm Password do not match')
            $("#errorMessageDisplay").attr('style', 'display:block');
            return;
        };

        if (!ResetPassCode) {
            $("#errorMessageDisplay").html('Please enter the Reset Password Code')
            $("#errorMessageDisplay").attr('style', 'display:block');
            return;
        }

        $("#errorMessageDisplay").attr('style', 'display:none');

        $.ajax({
            type: "post",
            url: "/ManagePassword/ResetPassword",
            dataType: "json",
            data: { UserId: UserId, newPassword: Password, ConfirmPassword: ConfirmPassword, ResetPassCode: ResetPassCode },
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            success: function (data) {
                if (data == 1) {
                    $('#Successmodal').modal('show');
                }
                else {
                    ShowSnackBar("Error While reseting password");
                }
            },
            error: function (got) { }
        });
    }
</script>


