@model Karamtara_Application.Models.AssemblyMasterModel

<div class="Catgdetails tableBlock" id="divSubAssmEdit">
    <div class="row">
        <table class="table prodDetails m-0" id="prodTbl1">
            <tr>
                <th>Assemebly Code</th>
                <th>Assembly Name</th>
                <th>Technical Name</th>
                <th>Drawing No</th>
            </tr>
            <tr>
                <td>
                    <label id="lbl1" value="Assemebly Code">@Model.AssemblyCode</label>
                    <input type="hidden" value="@Model.AssemblyId" id="hidAssmId" />
                </td>
                <td>
                    <label id="lbl2" value="Assemebly Name">@Model.AssemblyName</label>
                </td>
                <td>
                    <label id="lbl3" value="Technical Name">@Model.AssmTechName</label>
                </td>
                <td>
                    <label id="lbl3" value="Technical Name">@Model.DrawingNo</label>
                </td>
            </tr>

        </table>
        <table class="table prodDetails mb-5" id="prodTbl2">
            <tr>
                <th class="srNo">Sr.No</th>
                <th class="catNo">Catalogue No</th>
                <th class="productNm">Item Name</th>
                <th class="compoentNm">Raw Material</th>
                <th class="catNo">Material Grade</th>
                <th class="catNo">Drawing No</th>
                <th class="compSize">Size</th>
                <th class="prodNo">Quantity</th>
                <th class="prodNo">Unit Gross Weight</th>
                <th class="prodNo">Unit Net Weight</th>
                <th class="prodNo">Total Gross Net Weight</th>
                <th class="prodNo">Total Unit Net Weight</th>
            </tr>
            @{int foreachCount = 1;
                int charCount = 97;
                }
            @foreach (var item in Model.MasterList)
            {
                if (item.IsRelated)
                {
            <tr>
                <td><input type="text" value="@foreachCount" readonly="readonly" class="prods bold" name="srno" /></td>
                <td><input type="text" value="@item.CatalogueNo" readonly="readonly" class="prods bold" name="editCatNo" /></td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.Name" readonly="readonly" class="prods bold c-pointer" name="editSubAssmName" />
                        <span class="tooltipShow">@item.Name</span>
                    </span>
                </td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.Material" readonly="readonly" class="prods bold c-pointer" name="editRM">
                        <span class="tooltipShow">@item.Material</span>
                    </span>
                </td>
                <td><input type="text" value="@item.Grade" readonly="readonly" class="prods bold" name="editGrade" /></td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.DrawingNo" readonly="readonly" class="prods bold  c-pointer" name="editDrawingNo" />
                        <span class="tooltipShow">@item.DrawingNo</span>
                    </span>
                </td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.Size" readonly="readonly" class="prods bold c-pointer" name="editSize">
                        <span class="tooltipShow">@item.Size</span>
                    </span>
                </td>
                <td><input type="text" value="@item.Quantity" readonly="readonly" class="prods bold" name="editQty" /></td>
                <td><input type="text" value="@(item.UnitGrWt == 0 ?  item.UnitGrWt.ToString("#.##") : item.UnitGrWt.ToString("G29"))" readonly="readonly" class="prods bold" name="editUnitGr" /></td>
                <td><input type="text" value="@(item.UnitNetWt == 0 ?  item.UnitNetWt.ToString("#.##") : item.UnitNetWt.ToString("G29"))" readonly="readonly" class="prods bold" name="editUnitNet" /></td>
                <td><input type="text" value="@(item.UnitGrWt == 0 ? (item.Quantity * item.UnitGrWt).ToString("#.##") : (item.Quantity * item.UnitGrWt).ToString("G29"))" readonly="readonly" class="prods bold" name="editUnitGr" /></td>
                <td><input type="text" value="@(item.UnitNetWt == 0 ?  (item.Quantity * item.UnitNetWt).ToString("#.##") : (item.Quantity * item.UnitNetWt).ToString("G29"))" readonly="readonly" class="prods bold" name="editUnitNet" /></td>
            </tr>
                    foreachCount++;
                    charCount = 97;
                }
                else
                {
            <tr class="bold">
                <td><input type="text" value="@((char)charCount)" readonly="readonly" class="prods" name="srno" /></td>
                <td><input type="text" value="@item.CatalogueNo" readonly="readonly" class="prods" name="editCatNo" /></td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.Name" readonly="readonly" class="prods c-pointer" name="editSubAssmName" />
                        <span class="tooltipShow">@item.Name</span>
                    </span>
                    
                </td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.Material" readonly="readonly" class="prods c-pointer" name="editRM">
                        <span class="tooltipShow">@item.Material</span>
                    </span>
                </td>
                <td><input type="text" value="@item.Grade" readonly="readonly" class="prods" name="editGrade" /></td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.DrawingNo" readonly="readonly" class="prods c-pointer" name="editDrawingNo" />
                        <span class="tooltipShow">@item.DrawingNo</span>
                    </span>
</td>
                <td>
                    <span class="tooltipHover c-pointer">
                        <input type="text" value="@item.Size" readonly="readonly" class="prods  c-pointer" name="editSize">
                        <span class="tooltipShow">@item.Size</span>
                    </span>
</td>
                <td><input type="text" value="@item.Quantity" readonly="readonly" class="prods" name="editQty" /></td>
                <td><input type="text" value="@(item.UnitGrWt == 0 ? item.UnitGrWt.ToString("#.##") : item.UnitGrWt.ToString("G29"))" readonly="readonly" class="prods" name="editUnitGr" /></td>
                <td><input type="text" value="@(item.UnitNetWt == 0 ? item.UnitNetWt.ToString("#.##") : item.UnitNetWt.ToString("G29"))" readonly="readonly" class="prods" name="editUnitNet" /></td>
                <td><input type="text" value="@(item.UnitGrWt == 0 ? (item.Quantity * item.UnitGrWt).ToString("#.##") : (item.Quantity * item.UnitGrWt).ToString("G29"))" readonly="readonly" class="prods" name="editUnitGr" /></td>
                <td><input type="text" value="@(item.UnitNetWt == 0 ?  (item.Quantity * item.UnitNetWt).ToString("#.##") : (item.Quantity * item.UnitNetWt).ToString("G29"))" readonly="readonly" class="prods" name="editUnitNet" /></td>
            </tr>
                    charCount++;
                }
            }
        </table>
        <div class="saveProddtls saveAssblProd">
            <button type="button" class="submitBomBtn saveBtn opacityBtnyelow" id="btnSubAssmEdit">Edit</button>
            <button type="button" class="submitBomBtn saveBtn opacityBtnyelow" id="btnDel" onclick="DeleteAssembly('@Model.AssemblyId')" ;>Delete</button>
            @*<button type="button" class="submitBomBtn publishBtn" id="btnProdSave">Save </button>*@
        </div>
    </div>
</div>

<script>

    function DeleteAssembly(assmId) {
        if (confirm("Are you sure you want to delete this Assembly? This action cannot be undone")) {
            $.ajax({
                type: 'POST',
                url: "/Common/DeleteMasterData",
                data: { id: assmId , type : 2},
                dataType: 'json',
                success: function (data) {
                    if (data == true || data == 'true') {
                        alert('Assembly Deleted Successfully');
                        window.location.reload();
                    }
                    else {
                        alert('Assembly Delete Failed. Please contact your System Admin');
                        window.location.reload();
                    }
                }
            });
        }
    }

    $("#btnSubAssmEdit").click(function () {
        alert('You can edit the Products. Click on Save Button to save the changes');

        $(".prods").removeAttr("readonly");
        var val = $("#hidAssmId").val();
        $.ajax({
            type: 'GET',
            url: "/AssemblyMaster/AssmProdEditGet",
            data: { data: val },
            dataType: 'html',
            success: function (data) {
                $("#divSubAssmEdit").html(data);
                
            },
            error: function (err) {
            }
        }
        )
    });
    //$(document).ready(function () {
    //    if ($('input').val().length === 0) {
    //        alert('warning');
    //       // $('.tooltipHover').css("display", "none");
    //    }
    //});

      
            



</script>