@model Karamtara_Application.Models.EnquiryModel
@{
    ViewBag.Title = "Enquiry Master";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateEnquiry", "Enquiry", new { IsPublished = false }, FormMethod.Post, new { @id = "CreateEnquiryForm", enctype = "multipart/form-data" }))
{
    <div class="main-content">
        <div class="row">
            @if (Model.IsEdit)
            {
                @Html.HiddenFor(x => x.ProjectId);
                <div class="col-sm-5 collapseHide" id="enquiryView">
                    submitBomBtn publishBtn
                    @Html.Partial("~/Views/Shared/Enquiry/_EditEnquiry.cshtml", Model)
                </div>
            }
            else
            {
                <div class="col-sm-5 collapseHide" id="enquiryView">
                    @Html.Partial("~/Views/Shared/Enquiry/_CreateEnquiry.cshtml", Model)
                </div>
            }
            <div class="col-sm-12 collapseSide" id="checkClass">
                @Html.Partial("~/Views/Shared/Enquiry/_EnquiryList.cshtml", Model)
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title">Add Technical Query</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    @Html.TextArea("TechnicalQuery", null, new { @class = "w-100 text-left pl-10 pr-10", @row = 4, @id = "comment" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn saveBtn " data-dismiss="modal">Cancel</button>
                    <button type="button" class="submitBomBtn publishBtn " id="modelSubmitComment" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- PDF Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title">Add Technical Query</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <input type="file" src="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn saveBtn " data-dismiss="modal">Cancel</button>
                    <button type="button" class="submitBomBtn publishBtn  modalAssignee modalCommentSubmit" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Query ViewReply Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title">View Technical Query</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <label></label>
                    @Html.TextArea("TechnicalQuery", null, new { @class = "w-100 text-left pl-10 pr-10", @row = 4, @id = "comment" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn saveBtn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="submitBomBtn publishBtn" data-dismiss="modal">Reply</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modelHeader">
                    <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="modalBody" class="lableMsg">  </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn publishBtn" id="modalOkButton">OK</button>
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>

     function successModal() {
        $('#modalTitle').html('Success');
        $('#modalBody').html('Enquiry published successfully'); 
        $("#modalOkButton").attr('onclick', "window.location.reload();");
        $("#successModel").modal('show');
    };

    function failureModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('Error: While publishing the enquiry.');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    };

    //form validation
    $("#CreateEnquiryForm").validate({
        onsubmit: true,
        ignore: "",
        rules:
        {
            TenderFileNo: {
                required: true,
            },
            ProjectName: {
                required: true
            },
            LineNumber: {
                number: true
            },
            EnqDueDate: {
                required: true
            },
            EndCustName: {
                required: true
            },
            EPCCustomerName: {
                required: true
            },
            EnquiryTypeId:
            {
                required: true
            }
        }
    });

    //options menu
    $(document).ready(function () {

        $(".createEnqBtn").click(function () {
            $(".collapseSide").removeClass("col-sm-12").addClass("col-sm-7");
            $(".collapseHide").css("display", "block");
            $(".enquiryTd").css("display", "table-cell");
            $(".creteEnquiryTd").css("display", "none");
            //$('.tdheader').replaceWith('<td colspan="10" class="tdheader text-left p-1">Enquiries</td >');
        })
        $(".collpaseClose").click(function () {
            $(".collapseSide").removeClass("col-sm-7").addClass("col-sm-12");
            $(".collapseHide").css("display", "none");
            $(".enquiryTd").css("display", "none");
            $(".creteEnquiryTd").css("display", "table-cell");
            //$('.tdheader').replaceWith('<td colspan="10" class="tdheader text-left p-1"> <div class="activities c-pointer createEnqBtn" ><img src="../Assets/images/enquiry.png" height="28px"> Create Enquiry</div></td >');
        })

        $(".optionSpan").click(function () {
            $(this).next('.ActnActivities').toggle(200);
        });

        $(".closeMenu").click(function () {
            $(".ActnActivities").hide();
        })

        $(document).mouseup(function (e) {
            var container = $(".ActnActivities");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.fadeOut();
            }
        });
    });


</script>
